* {
    -fx-font-smoothing-type: gray;
}

.title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 30 0;
}

.sliderValueLabel {
    -fx-pref-width: 30;
}

.settings-group {
    -fx-vgap: 10;
    -fx-hgap: 20;
}

.button-group {
    -fx-spacing: 4;
}

#settings {
    -fx-padding: 10 0 10 0;
}

#side-bar {
    -fx-padding: 5 10 5 10;
    -fx-pref-width: 170px;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: lightgray;
}

#center-pane {
    -fx-padding: 5 20 5 20;
}

.side-bar-text {
    -fx-font-size: 14px;
    -fx-fill-width: true;
    -fx-max-width: Infinity;
    -fx-padding: 5 10 5 10;
}

.selected {
    -fx-background-color: -fx-focus-color;
    -fx-border-color: -fx-focus-color;
    -fx-text-fill: WHITE;
}

.separator {
    -fx-padding: 10 0 10 0;
}

.scroll-pane {
    -fx-background-color: transparent;
}